<h1>Home page</h1>
<label for="input-id">ID:</label>
<input id="input-id" type="text" placeholder="type id here" [(ngModel)]="id">
<button (click)="onClickGoIdentifier()">Go to identifier</button>
<br>
<label for="input-first-query">First query:</label>
<input id="input-first-query" type="text" placeholder="type query here" [(ngModel)]="firstQuery">
<br>
<label for="input-second-query">Second query:</label>
<input id="input-second-query" type="text" placeholder="type query here" [(ngModel)]="secondQuery">
<br>
<button (click)="onClickGoQuery()">Go to query</button>


